:root{
    --primary-color: #321f28;
    --secondary-color: #734046;
    --tertiary-color: #a05344;
    --quaternary-color: #e79e4f;
    --title-size: 4rem;
    --subtitle-size: 2.2rem;
    --body-size: 1.8rem;
    --small-text-size: 1.4rem; 
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    font-size: 62.5%;
}

.header-logo{
    height: 15rem;
}

.header-logo-title{
    position: absolute;
    color: white;
    display: inline-block;
    font-size: 5rem;
    text-align: center;
    width: 100%;
    margin-top: 3rem;
    font-family: Verdana;
}
.header-logo-title a{
    color: white;
    text-decoration: none;
}

.header-logo-figure{
    width: 100%;    

}

.header-logo-img{
    width: 100%;
    object-fit: none;    
    height: 15rem;    
}

.header-main-nav{
    display: flex;
    justify-content: center;
    font-size: var(--subtitle-size);

}

.header-main-nav__list{
    list-style: none;
    margin: 1rem;
}

.header-main-nav__item{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
}
.header-main-nav__item a{
    text-decoration: none;
    color: white;
}

.header-sec-nav{
    position: absolute;
    width: 100%;
    display: block;
    text-align: right;

}

.header-sec-nav__list{
    list-style: none;
    margin: 1rem;
}

.header-sec-nav__item{
    display: inline-block;
    background-color: var(--tertiary-color);
    padding: 1rem 2rem;
    font-size: var(--body-size);
    border-radius: 0.5rem;
}

.header-sec-nav__item a{
    text-decoration: none;    
    color: white;
}

#reserve-now-button{
    background-color: var(--quaternary-color);
    font-size: var(--subtitle-size);    
    border-radius: 2rem;

}

.main-content{
    margin-top: 1rem;
    width: 60%;
    margin: 0 auto;
    background-color: #fbf2e9;
    padding: 5rem;
    border-radius: 1rem;
}

.main-habitaciones{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.main-img{
    width: 45%;
}

.main-img img{
    width: 100%;
}

.main-img figcaption{
    text-align: center;
    margin-top: 0.5rem;
}

.main-galeria{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.galeria-img{
    width: 30%;
    
}

.galeria-img img{
    width: 100%;
    object-fit: cover;
    height: 20rem;
}

.title{
    font-size: var(--title-size);
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.subtitle{
    font-size: var(--subtitle-size);
    margin: 2rem;
    color: var(--secondary-color);
}

.main-body{
    font-size: var(--body-size);
}

.main-list__item, .distancias__item, .main-tarifas__item, .main-telefonos__item{
    font-size: var(--body-size);
    margin-left: 5rem;
    width: 100%;
}

footer{
    width: 100%;
    background-color: var(--quaternary-color);
    border-radius: 2rem;
}

.main-footer{
    text-align: center;
    display: flex;
}

.main-footer__section{
    width: 30%;
    margin-bottom: 3rem;
    margin: auto auto;
}

.footer-title{
    font-size: 3rem;
    text-align: center;
    margin-top: 3rem;
    padding: 3rem;
    color: var(--tertiary-color);
}

.footer-subtitle{
    font-size: var(--subtitle-size);
    text-align: center;
    color: var(--primary-color);
}

.footer-body{
    font-size: var(--body-size);
}

.footer-copyright{
    margin-left: 5rem;
    font-size: var(--small-text-size);
    margin-top: 5rem;
}

.footer-social-media{
    display: flex;
    justify-content: center;
}

.footer-social-media__list{
    list-style: none;
}

.footer-social-media__item{
    display: inline-block;
    background-color: var(--tertiary-color);
    padding: 1rem 3rem;
    border-radius: 3rem;
    font-size: var(--subtitle-size);
    margin-bottom: 5rem;
}

.footer-social-media__item a{
    color: white;
    text-decoration: none;
}
